<h1>
  Success!
</h1>
<link rel="stylesheet" href="{{css_file}}">
<p1><mark>Logged in as {{username}}</mark><p1><br>
<a href="/restricted">Wanna check out the special stuff?</a><br>
<a href="/logout">Logout</a>
