<h1>
  Home Page
</h1>
<link rel="stylesheet" href="{{css_file}}">
        <p>Login or Register with:</p>
        <div class ="myDiv">
        <a href="/register">Register</a> <br><p1>or</p1><br> <a href="/login">Login</a><br>
      </div>
      <div class ="newerDiv">
        <a href="/restricted">Wanna check out the special stuff?</a>
      </div>
</body>
