<h1>
  Login
</h1>
{{message}}
<link rel="stylesheet" href="{{css_file}}">
<form method="POST" action = "">
    UserName<input type="text" name="username">
    PassWord<input type="password" name="password">
    <input type="submit" value = "register">
</form>

<hr>

<p>Need an account? <a href="/register">Register</a></p>
<p>Or go <a href="/">home</a>.</p>
<p><a href="/restricted">Wanna check out the special stuff?</a></p>
