<h1>
  Registering Your Account
</h1>
{{message}}
<link rel="stylesheet" href="{{css_file}}">


<form method="POST" action="">
		Username: <input name="username" type="text">
		Password: <input name="password" type="password">
		<input type="submit" value="Register!">
</form>
<div class ="newDiv">
  <a href="/login">Back to Login?</a>
</div>
